.aboutpage {
    position: relative;
    padding: 30px 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-family: $italic-family;
        font-size: 20px;
        position: absolute;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
        min-height: 400px;

        .tag {
            font-family: $italic-family;
            font-size: 20px;
        }

        h1 {
            color: $primary;
            font-size: 60px;
            margin: 5px 0;
        }

        .bio {

            margin: 20px 0;
            margin-left: 10px;
            color: #ffffff;
            font-weight: 300;
            // letter-spacing: 1px;
        }
        .contact-details{
            color: #ffffff;
            margin-bottom: 10px;
            b{
                color: $primary;
                margin-right: 10px;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .circle {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 50%;
    }
    .maps{
        height: 100vh;
        width: 50%;
        transform: translateX(50px);
    }

    @media(max-width: 500px){
        padding-left: 10px;
        .text{
            width: 100%;
        }
        .circle{
            display: none;
        }
        .maps{
            display: none;
        }
    }
}