.homepage{
    position: relative;
    padding: 30px 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        font-family: $italic-family;
        font-size: 20px;
        position: absolute;
        opacity: 0.6;
    }
    .text{
        position: relative;
        padding: 70px 30px;
       

        h1{
            font-size: 60px;
            color: #ffffff;
            margin: 20px 0;
        }
        p{
            font-size: 14px;
            text-transform: capitalize;
            color: #8d8d8d;
            letter-spacing: 3px;
        }
    }
    .contact{
        margin-top: 20px;
        padding-left: 30px;
        button{
            letter-spacing: 3px;
            color: $primary;
            height: 50px;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            &:hover{
                color: #ffffff;
            }
        }
    }
    .circle {
        position: absolute;
        right: 0;

        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50%;
    }

    @media(max-width: 500px){
        padding: 50px 10px;
        flex-direction: column-reverse;
        .circle{
            // display: none;
            height: 25vh;
            width: 100%;
            position: relative;
        }
        .contact{
            transform: translateY(-50px);
            padding-left: 10px
        }
        .text{
            transform: translateY(-50px);
            padding: 70px 10px;
            h1{
                font-size: 45px;
            }
        }
    }
}