.loader{
    background-color: #181818;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100vw);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    .loading-bar{
        min-height: 5px;
        min-width: 50%;
        // background-color: $primary;
        background-size: 200% 200%;
        background-image: linear-gradient(to right, $primary 50%, $bg-color 0);
        background-position: right;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        // &:hover{
        //     background-position: 0 100%;
        //   }
    }
}