nav{
    background-color: #181818;
    height: 100vh;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .topbar{
        width: 100%;
        height: 100%;
        background-color: #181818;
        display: none;
       
        img{
            width: 40px;
        }
        .logo{
           img{
               width: 100px;
           }
        }
    }
    .main-nav{
        display: flex;
    flex-direction: column;
    justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: #181818;
    }
    .navigation{
        div{
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                .icon,img{
                    opacity: 0;
                    display: none;
                }
                p{
                    opacity: 1;
                    display: inline;
                }
            }
            .icon, img{
                opacity: 1;
                
                width: 25px;
            }
            p{
                display: none;
                opacity: 0;
                color: $primary;
                letter-spacing: 1.5px;
            }
        }
    }

    @media(max-width: 500px){
        height: 60px;
        width: 100vw;
        flex-direction: row;
        z-index: 100;
        justify-content: center;
        .main-nav{
            flex-direction: row;
            justify-content: center;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;;
        
        }
        .topbar{
            z-index: 20;
            display: flex;
            justify-content: space-between;
            position: absolute;
            padding: 0 20px;
            // border-bottom: 2px solid #888888;
            div{
                display: flex;
                align-items: center;
            }
        }
        .navigation{
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                height: 50px;
                width: 50px;
            }
        }
    }
}