.skillspage{
    position: relative;
    padding: 30px 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        font-family: $italic-family;
        font-size: 20px;
        position: absolute;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
        .tag{
            font-family: $italic-family;
            font-size: 20px;
        }
        h1{
            color: $primary;
            font-size: 60px;
            margin: 5px 0;
        }
        .bio{
           
            margin: 10px 0;
            margin-left: 10px;
            color: #ffffff;
            font-weight: 400;
            // letter-spacing: 1px;
        }
    }
    .circle {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 50%;
    }
}