.workspage {
  position: relative;
  padding: 30px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    padding: 70px 5%;
    padding-bottom: 0;

    .projects {
      padding-top: 0 !important;
      height: 100vh;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    margin-bottom: 30px;

    h1 {
      color: $primary;
      font-size: 60px;
      margin: 5px 0;
    }
  }

  .projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // max-height: calc(100vh -100px);
    overflow-y: scroll;
    padding-bottom: 30px;
    padding-top: 50px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 500px) {
      .project-item {
        margin-right: 0 !important;

        &:nth-child(even) {
          transform: unset !important;
        }

        width: 100%;

        .image {
        }
      }
    }

    .project-item {
      margin: 30px 50px;
      margin-left: 0;
      width: 400px;

      &:nth-child(even) {
        transform: translateY(-50px);
      }

      .image {
        width: 100%;
        height: 450px;
        background-color: #1d1d1d;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      .text-holder {
        min-height: 100px;
        margin-bottom: 10px;

        h2 {
          font-size: 25px;
          color: #ffffff;
          margin: 15px 0;
          font-weight: 400;
        }

        p {
          color: #a3a3a3;
          font-size: 14px;
          font-weight: 300;
        }
      }

      .tools {
        width: 100%;
        display: flex;
        margin-bottom: 20px;

        .tool {
          width: fit-content;
          margin-right: 15px;
          background-color: #473c64;
          color: #ffffff;
          font-size: 12px;
          border: 1px solid $primary;
          padding: 10px 20px;

          &:hover {
            color: $primary;
          }
        }
      }

      .visit-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 30px;
        overflow: hidden;

        p {
          color: #ffffff;
          font-size: 16px;
          margin-right: 10px;
        }

        .link-arrow {
          display: flex;
          flex-direction: column;
          transform: translateY(15px);
          transition: transform 0.3s ease-in-out;

          img {
            height: 30px;
          }
        }

        &:hover {
          p {
            color: $primary;
          }

          .link-arrow {
            transform: translateY(-15px);
          }
        }
      }

      button {
        font-size: 16px;
        color: #ffffff;
      }
    }

    // .project-item {
    //     margin: 10px 20px;
    //     width: 400px;
    //     height: 450px;
    //     background-color: $secondary;

    //     transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

    //     .image {
    //         position: relative;
    //         width: 100%;
    //         overflow: hidden;

    //         img {
    //             width: 100%;
    //             z-index: 1;
    //         }

    //     }

    //     &:hover {
    //         .image::after {

    //             content: "";
    //             z-index: 5;
    //             height: 100%;
    //             width: 100%;
    //             position: absolute;
    //             left: 0;
    //             top: 0;
    //             background-image: linear-gradient(to bottom, #8957ff65, rgba(0, 0, 0, 3.555));

    //         }

    //         img {
    //             transform: scale(1.2);
    //             transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    //         }
    //     }

    //     .text-holder {
    //         padding: 0 10px;

    //         h2 {
    //             color: #ffffff;
    //             font-weight: 500;
    //             // margin-top: 0;
    //         }

    //         p {
    //             color: #888888;
    //         }
    //     }

    //     button {
    //         margin-top: 20px;
    //         margin-left: 10px;
    //         font-size: 18px;
    //         width: 100px;
    //         color: #ffffff;
    //         height: 40px;
    //         background-size: 200% 200%;
    //         background-image: linear-gradient(to top, $primary 50%, $secondary 0);
    //         background-position: top;
    //         border-bottom: 2px solid $primary;
    //         transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    //         letter-spacing: 1px;

    //         &:hover {
    //             background-position: 0 100%;
    //         }
    //     }
    // }
  }
}
